section table tr th,td{
	padding: 10px;
}
section table tr th{
	border-top:1px solid gray; 
	border-bottom:1px solid gray; 
}
section table {
	text-align:center;	
}
#mainbox {
	width: 960px;
	margin: 0 auto;
}