@charset "EUC-KR";
@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.space {
	height: 200px;
}
footer{
    font-family: 'S-CoreDream-4Regular';
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin:0px;
    padding: 0px;
    color: #000;
  }
  .footer{
    display: flex;
    background: #000;
    padding:30px;
  }
  img{
      width: 100px;
      height: 100px;
  }
  .footer > div:first-child {
    flex:3;
    color: #fff;
  }
  .footer > div:last-child {
    flex:9;
    color: #fff;
  }