.user {
     width: 500px;
     height: 300px;
     background-color: #000;
     text-align: center;        
     display: inline-block;
 }
 .user a{
     color: #ccc;
     text-decoration-line: none;
 }
 .host{            
     width: 500px;
     height: 300px;
     background-color: #000;
     text-align: center;        
     display: inline-block;
 }
 .host a{
     color: #ccc;
     text-decoration-line: none;
 }