section{
	max-width: 55%;
	margin: 0 auto;
}
.info{
	margin-bottom: 30px;
	min-width: 650px;
	height: 400px;
	background-color: #f3f3f3;
	padding: 20px;
	box-sizing: content-box;
	border-radius: 10px;
}

.booking{
	margin-top: 30px;
	min-width: 650px;
	height: 350px;
	background-color: #f3f3f3;
	padding: 20px;
	box-sizing: content-box;
	border-radius: 10px;
}
