::placeholder { color: rgb(196, 196, 196); font-size: medium; }
/* input:focus { outline: none; background: rgba(184, 203 , 159, 0.3); border-radius: 2px;} */
/* input:focus { outline: 2px solid rgba(255, 196 , 56, 0.5); } */
input:invalid { color: red; }
form{
	width:600px;
	margin:0 auto;
}

.inputHead { width: 600px; }
.inputHead input {
    width: 20%;
    height: 2em;
    padding: 1%; 
    border: 0;
    border-bottom: 1px solid;
}
.inputHead button {
    margin-left: 10px;
    width: 20%;
    height: 3.5em;
    margin-top: 20px;
}

table { width: 550px; }
.input :nth-child(1), .inputPW :nth-child(1) {
    width: 90%;
    height: 2em;
    padding: 4%; 
    border: 0;
    border-bottom: 1px solid;
}

.inputPWShow { text-align: center; }
.inputPWShow :nth-child(1) { height: 2em; }

.inputButtonLayout  { display: flex; }
.inputButtonLayout :first-child  { margin-right: 10px; }
.inputButton {
    width: 50%;
    height: 3.5em;
    margin-top: 20px;
}
