.room{
    margin: 5px;
    padding: 15px;
    border: 1px solid #e97928;
}
.room_date{
    padding: 10px;
    padding-left: 10px;
}
.room_date input{
    width: 200px;
    border: 1px solid #ce671e;
    padding-left: 20px;
    padding-right: 20px;
}
.room_date span{
    padding-left: 20px;
    padding-right: 20px;
}
.room_spec{
    margin: 20px;
    padding: 20px;
}
.room_spec input{
    margin: 0px;
    border: none;
    width: 650px;
    background-color: #ce671e;
    border-radius: 5px;
}
.room_spec input:hover{
    border: none;
    width: 650px;
    background-color: #e78641;
    border-radius: 5px;
}

.star_rating {font-size:0; letter-spacing:-4px;}
.star_rating a {
	font-size:22px;
	letter-spacing:0;
	display:inline-block;
	margin-left:5px;
	color:#ccc;
	text-decoration:none;
}
.star_rating a:first-child {margin-left:0;}
.star_rating a.on {color: #e97928}
 
 


